  <p>
        <mat-toolbar color="primary">
          <button mat-icon-button class="example-icon">
             <mat-icon>grade</mat-icon>
          </button>
          <span class="text-uppercase">My Quotes</span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-raised-button color="accent" (click)="openDialog()">Add Your Quotes</button>
        </mat-toolbar>
      </p>
      

<app-form (addQuote)="addedQuote($event)"></app-form>



<!--Quote template-->
<div class="container box" >
  <div class="row"  > 
    <div class="col-md-4" *ngFor="let word of words index as index">

      <mat-card class="example-card">
        <mat-card-subtitle>Quote</mat-card-subtitle>
        
        <mat-card-content >
          <p> 
               {{word.content }}
          </p>
         <p>  <span class="fw-bold" id="words">Author:</span> {{word.author}} </p>
         <p> <span class="fw-bold" id="words">Posted by: </span> {{word.name}} </p>

         <p> <span class="fw-bold" id="words">Posted on:</span>  {{word.date|date}} </p>
         <p><span class="fw-bold" id="words"> Days elasped: </span> {{word.date|dateCount}} </p>
        
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-raised-button matBadge="{{word.upVote}}" color="primary"(click)="upVoteClick(index)">UPVOTE </button>
          <button mat-raised-button matBadge="{{word.downVote}} " color="primary" (click)="downVoteClick(index)">DOWNVOTE </button>
          <button mat-fab color="primary" (click)="delete(index)">
            <mat-icon>delete</mat-icon>
          </button>
         
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>

    </div>
  </div>
      

    </div>
  
<!--(addQuote)="addedQuote($event)"-->