  <p>
        <mat-toolbar color="primary">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
             <mat-icon>grade</mat-icon>
          </button>
          <span class="text-uppercase">My Quotes</span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-raised-button color="accent" (click)="openDialog()">Add Your Quotes</button>
        </mat-toolbar>
      </p>

<!--Quote template-->
<div class="container box" >
  <div class="row"  > 
    <div class="col-md-4" *ngFor="let word of words index as i">

      <mat-card class="example-card">
        <mat-card-subtitle>Quote</mat-card-subtitle>
        
        <mat-card-content >
          <p> 
               {{word.content }}
          </p>
         <p> {{word.author}} </p>
         <p> {{word.name}} </p>

         <p> {{word.date}} </p>
         
         <p> {{numberOfVotes}} </p>
         <p> {{numberOfDislikes}} </p>
          
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-raised-button matBadge="0" color="primary"(click)="upVoteClick()">UPVOTE</button>
          <button mat-raised-button matBadge="0" color="primary" (click)="downVoteClick()">DOWNVOTE</button>
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
         
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>

    </div>
  </div>
      

    </div>
  
